body {
    font-family: 'Verdana';
    color: white;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 49%, rgba(186,185,185,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1%;
}

.container {
    background-color: #2b2b2b; 
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 10);
    max-width: 1200px;
    width: 100%;
}

h1 {
    text-align: center;
    font-family: 'Comic Sans MS';
    color: #ffffff;
    font-weight: 700;
}

label {
    font-weight: 500;
}

.form-control {
    border-radius: 10px;
    border: 1px solid #ffffff;
    transition: all 0.3s ease;
}


.btn-primary {
    background-color: #019120;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 12px;
    margin-top: 40px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #006d18;
}

.btn-secondary {
    margin-top: 20px;
    background-color: #830d00;
    border: none;
    border-radius: 15px;
    padding: 12px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #5a0000;
}

.input-group {
    margin-top: 20px;
}

.form-select {
    border-radius: 10px;
    border: 1px solid #adadad;
    height: 45px;
    font-size: 16px;
    color: black;
}

.form-select:focus {
    border-color: #00d146;
    color: black;
}

button:focus {
    outline: none;
}

